# dependencies
node_modules/
**/node_modules/

# env
.env
**/.env
.env.local
**/.env.local

# builds
dist/
build/
**/dist/
**/build/

# logs
*.log

# editor/system
.vscode/
.idea/
.DS_Store

# backend files
backend/package.json
package-lock.json

# vite
vite.config.js
vite.config.ts

carasoul/package.json
carasoul/vite.config.js
carasoul/eslint.config.js
react-form-demo/backend/package.json
